#container{
    width:600px;
    height:600px;
    background-color: gray;
    border: 10px solid rgb(0, 0, 0);
    padding: 0;
    position: relative;
}

.piece{
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
    position: absolute;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transition: transform 330ms linear;

}

.piece:hover{
    z-index: 10;
border-color: red;
}

.moveLeft{
    transform: translateX(-200px);
}

.moveRight{
    transform: translateX(200px);
}


.moveDown{
    transform: translateY(200px);
}


.moveUp{
    transform: translateY(-200px);
}