.grid{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    row-gap: 20px;
    column-gap: 20px;

}

#container{
    width:300px;
    height:300px;
    background-color: gray;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0;
    position: relative;
    display: inline-block;
}


#model{
    display: block;
    width: 100px;
    height:100px;
    margin:0px 0px;
    border-radius: 3px;
    border: 2px solid black;
}

.piece{
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
    position: absolute;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transition: transform 100ms linear;
    background-image: url('img/pica.png');
    background-size: 300px 300px;
    width: 100px;
    height: 100px;

}

.piece:hover{
    z-index: 10;
    border-color: red;
}

.moveLeft{
    transform: translateX(-100px);
}

.moveRight{
    transform: translateX(100px);
}


.moveDown{
    transform: translateY(100px);
}


.moveUp{
    transform: translateY(-100px);
}

.empty{
    background-color: gray ;
    z-index: 11;
}